
<div class="container">
    <div *ngIf="message">
        {{message}}
     </div>
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <label><strong>Username</strong> </label>
    <input [(ngModel)]="user.username" placeholder="username" type="text">    
    <div>
    <label><strong>Password </strong></label>
    <input [(ngModel)]="user.password" placeholder="password" type="password">
    </div>
    <div>
    <label><strong>Email </strong></label>
    <input [(ngModel)]="user.email" placeholder="email" type="text">
    </div>
    <div>
    <label><strong>Phone </strong></label>
    <input [(ngModel)]="user.phone" placeholder="phonenumber" type="text">
    </div>
    <div>
    <label><strong>Business Name </strong></label>
    <input [(ngModel)]="user.business_name" placeholder="BusinessName" type="text">
    </div>
    <div>
<button (click)="registerUser()" class="registerbtn">register</button>
</div>
<div class="container signin">
    <p>Already have an account? <a routerLink='/login'>Sign in</a>.</p>
    <p>Want a Normal User Account? <a routerLink='/registration'>Register Here</a></p>
  </div>