<nav>
  <ul>
    <li>
      <a routerLink='/home' routerLinkActive="active">Home</a>
    </li>
      <li>
        <a routerLink='/registration' routerLinkActive="active">Registration</a>
      </li>
      <li>
        <a routerLink='/login' routerLinkActive="active">Login</a>
      </li>
    <li>
      <a routerLink='/profile' routerLinkActive="active">Profile</a>
    </li>
    <li>
      <a routerLink='/history' routerLinkActive="active">History</a>
    </li>
    <li>
      <a routerLink='/cards' routerLinkActive="active">Cards</a>
    </li>
    <li>
      <a routerLink='/settings' routerLinkActive="active">Settings</a>
    </li>
    <li><a routerLink='/home' routerLinkActive="active" (click)="deleteCookies()">Logout</a></li>
  </ul>
  
</nav>
<router-outlet></router-outlet>